.body {
  color:white;
}
.block {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
}

/* Centered text */
.text-block {
  position: absolute;
  top: 55%;
  color: white;
  font-size: 60px;
letter-spacing: .5px;
line-height: 50px;
  font-family: AvantGarde Normal;
text-transform: uppercase;
  opacity: 1;
  left: 5%;

}

body {
margin: 0;
background: #222;
font-family: AvantGarde Normal;
font-weight: 400;
}

.container {
width: 80%;
margin: 0 auto;
}

header {
background: white;
}

header::after {
content: '';
display: table;
clear: both;
}

.logo {
float: left;
padding:10px;
}

nav {
float: right;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
display: inline-block;
margin-left: 70px;
padding-top: 23px;
position: relative;
}

nav a {
color: #444;
text-decoration: none;
text-transform: uppercase;
font-size: 14px;
}

nav a:hover {
color: #000;
}

nav a::before {
content: '';
display: block;
height: 5px;
background-color: #444;
position: absolute;
top: 0;
width: 0%;

transition: all ease-in-out 250ms;
}

nav a:hover::before {
width: 100%;
}

.logo-text{
  float: left;
  /*margin-left: 5%;*/
  text-align:center; /* <-- ADD THIS LINE */
  font-family: AvantGarde Normal;
}

* {
box-sizing: border-box;
}

body {
margin: 0;
}



.button {
background-color: grey; /* Green */
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
}

img.homepage {
padding: 5% 5% 5% 5%;
}
